.content {
    height: 100%;
    margin: 0;
    display: flex;             /* Make body a flex container */
    justify-content: center;   /* center horizontally */
    align-items: center;       /* center vertically */
}