<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="#" onclick="Pages.loadPage(event, 'home.html')">Home</a></li>
            <li><a href="#" onclick="Pages.loadPage(event, 'signup.html')">Sign Up</a></li>
            <li><a href="#" onclick="Pages.loadPage(event, 'login.html')">Log In</a></li>
        </ul>
    </nav>

    <main class='content' id="content"></main>
    
    <script src="/static/js/main.js"></script>
    <script src="/static/js/pages.js"></script>
    <script src="/static/js/users.js"></script>
</body>
</html>